.thumbnail {
    min-width: 300px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.thumbnail_card {
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}